.icon-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip {
    position: absolute;
    top: 0;
    right: 20%;
    background-color: #fff;
    color: #000;
    padding: 5px;
    border-radius: 5px;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s, right 0.3s;
}

.icon-container:hover .tooltip {
    right: 100%;
    opacity: 1;
}